.navigation{
    position: fixed;
    z-index: 100%;
    top: -20px;
    
}
.nav{
    list-style-type: none;
    position: fixed;
    padding-top: 9px;
    
    
}
.nav li{
    display: inline-block;
    border: 0px solid black;
    padding: 5px;
    margin: auto;
    text-align: center;
    
}
.bitings{
    width: 1240px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 25px;
}
